* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f5f5f5;
}

header {
    background: black;
    color: white;
    padding: 20px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
}

.features {
    padding: 40px;
    background: white;
    text-align: center;
}

.feature-list {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.feature {
    background: #e0e0e0;
    padding: 20px;
    width: 200px;
    border-radius: 8px;
}

.feature img {
    max-width: 150px;
    height: auto;
}

.info {
    padding: 60px;
    text-align: center;
}

.info h2 {
    margin-bottom: 20px;
}

.info p {
    max-width: 600px;
    margin: 0 auto;
}

.hero {
    height: 80vh;
    background: linear-gradient(to right, #000, #333);
    color: #f5f5f5;

    display: flex;
    align-items: center;
}

.hero-content {
    padding-left: 80px;
    max-width: 600px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #cccccc;
}

button{
    padding: 14px 20px;
    background: #00c853;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-bottom: 20px;
}

button:hover {
    background: #00a855;
}



footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.testsection {
    padding: 40px;
    background: #fafafa;
    text-align: center;
}

#cars {
    gap: 30px;
    display : flex;
    justify-content: space-around;
}

#cars div {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 30%;
}